@media (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}
	#navegacao span,
	#navegacao ul li {
		font-size: 0.75em;
	}
	.abrirMenu {
		display: inline-block;
	}
	#sigla {
		display: none;
	}
	.barra_lateral {
		display: none;
		min-width: 45%;
	}
	#s_conteudo {
		width: 100%;
	}
	#foto-perfil {
		display: none;
	}

}