/*
rgba(56, 63, 81, 1)
rgba(221, 219, 241, 1)
rgba(60, 79, 118, 1)
rgba(209, 190, 176, 1)
rgba(171, 159, 157, 1)
*/

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a {
	text-decoration: none;
}
.letra-cor-branca {
	color: rgba(255, 255, 255, 1);
}
.linha {
	width: 100%;
	display: inline-block;
}
.col-1 {width: 8.33%; float: left;}
.col-2 {width: 16.66%; float: left;}
.col-3 {width: 25%; float: left;}
.col-4 {width: 33.33%; float: left;}
.col-5 {width: 41.66%; float: left;}
.col-6 {width: 44%; float: left;}
.col-7 {width: 58.33%; float: left;}
.col-8 {width: 54.66%; float: left;}
.col-9 {width: 75%; float: left;}
.col-10 {width: 80.33%; float: left;}
.col-11 {width: 91.66%; float: left;}
.col-12 {width: 100%; }
.img-responsiva {
	width: 100%;
}
#topo {
	padding: 1em;
	background-color: rgba(56, 63, 81, 1);
    position: fixed;
    width: 98%;
    z-index: 999;
}
.itens {
	float: right;
	margin: 0;
}
.itens li {
	display: inline-block;
	padding-left: 1rem;
}
#dashboard {
	height: 100vh;
}
#barra_lateral {
	width: 20%;
	height: 100%;
	padding-top: 4em;
	overflow: auto;
	border-right: 0.0625em solid rgba(0, 0, 0, 0.1);
	background-color: rgba(40, 40, 40, 1);
	position: fixed;
    z-index: 1;
}
#barra_lateral ul {
	width: 100%;
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#barra_lateral ul li {
	width: 100%;
	padding: 0.75em 0em 0.75em 0.75em;
}
#barra_lateral ul li:hover {
	background-color: rgba(0,0,0,0.1);
}
#s_conteudo {
    width: 80%;
    float: right;
    margin-top: 3.2em;
    overflow: auto;
}
#perfil, #turmas, #mensagens, #noticias, #forum {
	background-color: rgba(228, 228, 228, 1);
	padding: 1em;
	margin: 1em;
} 
#perfil ul {
    width: 100%;
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#perfil ul li {
	float: left;
	padding-right: 1em;
}
#perfil .linha {
	padding-top: 1em;
}
#perfil .linha .col-10 {
	padding-left: 1em
}